<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeLea.org">
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container mt-4 ">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>  
                         <th>NOMBRES</th>  
                          <th>TELEFONO</th>  
                           <th>ACCIONES</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona:${personas}">
                        <td>${persona.id}</td>
                        <td>${persona.name}</td>
                        <td>${persona.telefono}</td>
                        <td>
                            <a class="btn btn-warning">editar</a>
                             <a class="btn btn-danger">eliminar</a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </body>
</html>
